langchain
langchainhub
langchain-community
langchain-core
langchain-groq
pypdf
docx2txt
python-docx
pandas
beautifulsoup4
markdown
sentence-transformers
faiss-cpu
tiktoken
streamlit
chromadb
fastapi
langchain-huggingface
